﻿<!--<div class="navbar-collapse collapse">-->
<ul class="nav navbar-nav">
    <!--<li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="about">About</a></li>
    <li><a ui-sref="contacts">Contact</a></li>-->
    <li><a ui-sref="allTextsDescription">Texts</a></li>
    <li ng-show="!!userContext.role"><a class="text-danger" style="color:orangered" ui-sref="administration">Administration</a></li>
    <li><!--<a class="text-danger" style="color:orangered" ui-sref="administration">Administration</a>--></li>
</ul>
<!--@await Html.PartialAsync("_LoginPartial")-->

<ul class="nav navbar-nav navbar-right" ng-show="!!userContext.userName">
    <li>
        <!--<a title="Manage" href="/Manage">Hello {{userContext.userName}}</a>-->
        <!-- TODO: use angular html template for this-->
        <a title="Manage">Hello {{userContext.userName}}</a>
    </li>
    <li>
        <button class="btn btn-link navbar-btn navbar-link" ng-click="logout()">Log off</button>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right" ng-hide="!!userContext.userName">
    <li><a ui-sref="register">Register</a></li>
    <li><a ui-sref="login">Login</a></li>
</ul>
<!--</div>-->