﻿<div>
    <p class="text-center" ng-hide="error">
        Thank you for confirming your email. Please <a ui-sref="login">Click here to Log in</a>.
    </p>
    <p class="text-danger text-center" ng-show="error">
        {{error}}
    </p>
</div>