﻿<section>
    <form class="form-horizontal">
        <h4>Use a local account to log in.</h4>
        <hr>
        <div class="text-danger validation-summary-valid">
            <ul ng-show="errorsFromServer.length > 0">
                <li ng-repeat="error in errorsFromServer">{{error}}</li>
            </ul>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-4">
                <input class="form-control no-max-width" ng-model="user.email" />
                <!--<span class="text-danger field-validation-valid" ></span>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-4">
                <!--<input class="form-control no-max-width" type="password" ng-model="user.password" />-->
                <!--<span class="text-danger field-validation-valid" ></span>-->

                <!--<div class="input-group input-group-md">
                    <input class="form-control no-max-width" 
                           ng-attr-type="{{ showPasswd ? 'text' : 'password' }}" ng-model="user.password" />
                    <div ng-init="showPasswd = false" class="input-group-btn">
                        <button ng-show="showPasswd" ng-click="showPasswd=!showPasswd" class="btn btn-default closed-eye">
                            <img src="/icons/closed-eye-min.png" alt="Hide password" />
                        </button>
                        <button ng-hide="showPasswd" ng-click="showPasswd=!showPasswd" class="btn btn-default opened-eye">
                            <img src="/icons/opened-eye-min.png" alt="Show password" />
                        </button>
                    </div>
                </div>-->
                <password-show-hide password="user.password" should-validate="false"></password-show-hide>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <div class="checkbox">
                    <input type="checkbox" ng-model="user.rememberMe">
                    <label>Remember me?</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button class="btn btn-default center-block" ng-click="login()">Log in</button>
            </div>
        </div>
        <p>
            <a ui-sref="register">Register as a new user?</a>
        </p>
        <p>
            <!--<a href="/Account/ForgotPassword">Forgot your password?</a>-->
        </p>
        <!--<input name="__RequestVerificationToken" type="hidden" value="CfDJ8Egi8i0PlX5KkYekKPnFqayCa4JLhtvJ4SNlFUvOk70lbnfIp-iDFX-I49D9xHQQh50Kf9BP-XqJ79HqxWtcNldI60xkDqs_bED9dJqtiGlq9IeC9uTh5FcLEuKHQcWF9GiuoM51P_m7-Mw1wiJgg68">--><input name="RememberMe" type="hidden" value="false">
    </form>
</section>