﻿<div class="input-group input-group-md">
    <input class="form-control no-max-width"
           ng-attr-type="{{ showPasswd ? 'text' : 'password' }}" ng-model="password" />

    <div class="input-group-btn">
        <button ng-show="showPasswd" ng-click="changeState()" class="btn btn-default closed-eye">
            <img src="/icons/closed-eye-min.png" alt="Hide password" />
        </button>
        <button ng-hide="showPasswd" ng-click="changeState()" class="btn btn-default opened-eye">
            <img src="/icons/opened-eye-min.png" alt="Show password" />
        </button>
    </div>
</div>
<span ng-if="shouldValidate" class="text-danger field-validation-valid" ng-show="passwordError">{{passwordError}}</span>