﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listening</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @RenderSection("styles", required: false)
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        @RenderSection("styles", required: false)
    </environment>
</head>
<body ng-app="app" ng-controller="CatchKeyCtrl" ng-keydown="catchKeysDown($event)" ng-keyup="clean($event)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/icons/green-metallic-orb-icon-symbols-shapes-smiley-face.png"
                     class="pull-left" />
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Listening</a>
            </div>
            <div class="navbar-collapse collapse">
                <menu style="margin:0"></menu>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:5px">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; 2016 - listening</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @RenderSection("scripts", required: false)
        <script src="~/js/angular/app.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        @RenderSection("scripts", required: false)
        <script src="~/js/angular/app.min.js"></script>
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @*@RenderSection("scripts", required: false)*@
</body>
</html>
