﻿<div class="modal-header">
    <h3 class="modal-title text-center">Hotkeys</h3>
</div>
<div class="modal-body">
    <table>
        <tr>
            <td class="text-center"><img src="icons/double_click_icon_merged_70px.png" /></td>
            <td><h4> - (double click) open hidden letter</h4></td>
        </tr>
        <tr>
            <td class="text-center"><img src="icons/enter-2-less.png" /></td>
            <td><h4> - check word</h4></td>
        </tr>
        <tr ng-hide="hideExceedFields">
            <td class="text-center"><img src="icons/tab-2-less.png" /></td>
            <td><h4> - go to next word</h4></td>
        </tr>
        <tr ng-hide="hideExceedFields">
            <td class="text-center">
                <img src="icons/shift-4-less.png" />
                <img src="icons/tab-2-less.png" />
            </td>
            <td><h4> - go to previous word</h4></td>
        </tr>
        <tr>
            <td class="text-center">
                <img src="icons/ctrl-2-less.png" />
                <img src="icons/space-new-less.png" />
            </td>
            <td><h4> - play/stop audio</h4></td>
        </tr>
        <tr>
            <td class="text-center">
                <img src="icons/ctrl-2-less.png" />
                <img src="icons/arrow-left-icon-less.png" />
            </td>
            <td><h4> - previous second in audio</h4></td>
        </tr>
        <tr>
            <td class="text-center">
                <img src="icons/ctrl-2-less.png" />
                <img src="icons/arrow-right-icon-less.png" />
            </td>
            <td><h4> - next second in audio</h4></td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Got it!</button>
    </div>
</div>