@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    var Role = User.IsInRole("Admin") ? "a" : "";
}

<div ui-view></div>
<div growl></div>

@section scripts{

    <script type="text/javascript">
        var userContext = {
            userName: '@User.Identity.Name' || '',
            role: '@Role' || ''
        };
    </script>
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/angular/templates.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-resource/angular-resource.min.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/lib/ng-focus-if/focusIf.min.js"></script>
    <script src="~/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="~/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="~/lib/objectid.js/src/main/javascript/Objectid.js"></script>
    <script src="~/lib/angular-busy/dist/angular-busy.min.js"></script>
    <script src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/lib/angular-material/angular-material.min.js"></script>
    <script src="~/lib/angular-growl-v2/build/angular-growl.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/bootstrap-show-password/bootstrap-show-password.min.js"></script>
}

@section styles{
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link href="~/lib/angular-busy/dist/angular-busy.min.css" rel="stylesheet" />
    <link href="~/lib/angular-growl-v2/build/angular-growl.min.css" rel="stylesheet" />
    <link href="~/css/less/AppStyleSheet.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-show-password/assets/bootstrap-v3/css/bootstrap-theme.min.css" rel="stylesheet" />
}