﻿<h4 class="text-center">Texts for editing</h4>
<div class="col-md-12 text-center margin-10">
    <button class="btn btn-default" ng-click="clickForAdding()">Add text</button>
</div>
<all-texts action-to-do="clickForEditing(text)"></all-texts>